@{
    ViewData["Title"] = "Chi tiết bình luận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-5">Thông tin chi tiết bình luận bài viết</h3>

<div class="container-fluid row">
    <form class="col-6">
        <div class="form-group row">
            <label for="oid" class="col-sm-3 col-form-label infomation-label-header">Mã số</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="oid" />
            </div>
        </div>
        <div class="form-group row">
            <label for="post_id" class="col-sm-3 col-form-label infomation-label-header">Mã bài viết</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="post_id" />
            </div>
            <div class="col-sm-2">
                <a onclick="goToPostDetail()" class="btn btn-block btn-primary" style="color: white">Xem <i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-sm-3 col-form-label infomation-label-header">Nội dung</label>
            <div class="col-sm-9">
                <textarea type="text" rows="5" readonly class="form-control" id="content"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="col-sm-3 col-form-label infomation-label-header">Hình ảnh</label>
            <div class="col-sm-9">
                <img id="image" alt="Alternate Text" class="border w-100" />
            </div>
        </div>
    </form>

    <form class="col-6">
        <div class="form-group row">
            <label for="author_id" class="col-sm-5 col-form-label infomation-label-header">Mã tác giả</label>
            <div class="col-sm-5">
                <input type="text" readonly class="form-control" id="author_id" />
            </div>
            <div class="col-sm-2">
                <a onclick="goToAuthorDetail()" class="btn btn-block btn-primary" style="color: white">Xem <i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <label for="author_name" class="col-sm-5 col-form-label infomation-label-header">Họ và tên tác giả</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="author_name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-5 col-form-label infomation-label-header">Trạng thái</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="status" />
            </div>
        </div>
        <div class="form-group row">
            <label for="created_date" class="col-sm-5 col-form-label infomation-label-header">Thời gian đăng</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="created_date" />
            </div>
        </div>
        <div class="form-group row">
            <label for="modified_date" class="col-sm-5 col-form-label infomation-label-header">Chỉnh sửa lần cuối</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="modified_date" />
            </div>
        </div>
        <div class="form-group row">
            <label for="replies_count" class="col-sm-5 col-form-label infomation-label-header">Số lượt trả lời</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="replies_count" />
            </div>
        </div>
        <div class="form-group row">
            <label for="upvote_count" class="col-sm-5 col-form-label infomation-label-header">Số lượt Upvote</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="upvote_count" />
            </div>
        </div>
        <div class="form-group row">
            <label for="downvote_count" class="col-sm-5 col-form-label infomation-label-header">Số lượt Downvote</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="downvote_count" />
            </div>
        </div>
        <input type="hidden" id="author_email" />
    </form>
</div>

<div id="button_bottom"></div>

<input type="hidden" id="commentId" value="@ViewBag.commentId" />

<div class="modal fade" style="z-index: 1000000" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có xác nhận xóa bình luận này?
                <input type="hidden" id="id_to_delete" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" id="btnDelete" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" style="z-index: 1000000" id="blockConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có xác nhận chặn bình luận này?
                <input type="hidden" id="id_to_block" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" id="btnBlock" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" style="z-index: 1000000" id="activeConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có xác nhận mở bình luận này?
                <input type="hidden" id="id_to_active" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" id="btnActive" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/CommentById.js"></script>