@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Danh sách người dùng </h3>
<br />
<div class="w-100 form-row pb-3 ">
    <div class="col-2 mb-2"> <input id="txtName" class=" form-control" placeholder="Họ và tên" /> </div>
    <div class="col-2 mb-2"> <input id="txtAddress" class="form-control" placeholder="Địa chỉ" /> </div>
    <div class="col-2 mb-2"> <input id="txtEmail" class="form-control" placeholder="Email" /></div>
    <div class="col-2 mb-2">  <input id="txtPhoneNumber" class="form-control" placeholder="Số điện thoại" /></div>
    <div class="col-2 mb-2"> <button id="btnSearch" class="form-control btn btn-info"> Tìm kiếm </button></div>
    <div class="col-2 mb-2"> <button id="btnClear" class="form-control btn btn-primary"> Refresh  </button></div>
</div>

<div class="row container-fluid">
    <table id="userTable" class="table table-responsive table-striped border" style="font-size: 15px; width: 100% !important">
        <thead>
        <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ngày sinh</th>
            <th>Ngày đăng kí </th>
            <th>Status</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th>&nbsp;</th>
            <th id="tfoot_name">Họ và tên</th>
            <th id="tfoot_email">Email</th>
            <th id="tfoot_phone">Số điện thoại</th>
            <th id="tfoot_address">Địa chỉ</th>
            <th>&nbsp;</th>
            <th>&nbsp; </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </tfoot>
    </table>

</div>
<style>
    .dataTables_wrapper {
        width: 100%
    }

    .custom-toast {
        width: 400px;
        color: black;
        font-weight: bold;
        background-color: #eb7183;
    }
</style>

<div class="modal fade" style="z-index: 1000000" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có xác nhận xóa đối tượng?
                <input id="id_to_delete"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" id="btnDelete" class="btn btn-primary" data-dismiss="modal">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/GetAllUser.js"></script>