
@{
    ViewData["Title"] = "Chi tiết người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thông tin người dùng </h3>

<style>
    .infomation-label-header {
        font-weight: bold;
    }
</style>

<div class="container-fluid row">
    <form class="col-6">
        <div class="form-group row">
            <label for="full_name" class="col-sm-3 col-form-label infomation-label-header">Họ và tên</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="full_name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="date_of_birth" class="col-sm-3 col-form-label infomation-label-header">Ngày sinh</label>
            <div class="col-sm-9">
                <input type="date" readonly class="form-control" id="date_of_birth" />
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label infomation-label-header">Email</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="email" />
            </div>
        </div>
        <div class="form-group row">
            <label for="phone_number" class="col-sm-3 col-form-label infomation-label-header">Số điện thoại</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="phone_number" />
            </div>
        </div>

        <div class="form-group row">
            <label for="full_address" class="col-sm-3 col-form-label infomation-label-header">Địa chỉ</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="full_address" />
            </div>
        </div>
        <div class="form-group row">
            <label for="avatar_hash" class="col-sm-3 col-form-label infomation-label-header">Avatar</label>
            <div class="col-sm-9">
                <img id="avatar_hash" class="border" />
            </div>
        </div>
    </form>

    <form class="col-6">
        <div class="form-group row">
            <label for="created_date" class="col-sm-3 col-form-label infomation-label-header">Ngày đăng kí</label>
            <div class="col-sm-9">
                <input type="date" readonly class="form-control" id="created_date" />
            </div>
        </div>
        <div class="form-group row">
            <label for="post_count" class="col-sm-3 col-form-label infomation-label-header">Số bài viết</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="post_count" />
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-3 col-form-label infomation-label-header ">Trạng thái</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control" id="status" />
                <input type="hidden" readonly class="form-control" id="status_id" />
            </div>
        </div>

        <div class="form-group row">
            <fieldset style="border: 1px solid gray; " class="ml-2 pl-1">
                <legend style="width: auto; font-weight: bold; font-size: inherit">Thông tin </legend>
                <div class="col-sm-12 row" id="additional_infos">

                </div>
            </fieldset>
        </div>


        <div class="form-group row">
            <fieldset style="border: 1px solid gray; " class="ml-2 pl-1">
                <legend style="width: auto; font-weight: bold; font-size: inherit">Lĩnh vực </legend>
                <div class="col-sm-12 row" id="fields">

                </div>
            </fieldset>
        </div>


    </form>
</div>

<h3>Thông tin đăng nhập </h3>
<div class="container row">
    <form class="col-6">
        <div class="form-group row">
            <label for="email" class="col-sm-5 col-form-label infomation-label-header">Email</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="acc_email" />
            </div>
        </div>
        <div class="form-group row">
            <label for="passwordHash" class="col-sm-5 col-form-label infomation-label-header">Mật khẩu </label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="passwordHash" />
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-5 col-form-label infomation-label-header">Quyền truy cập </label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="role" />
            </div>
        </div>
        <div class="form-group row">
            <label for="verificationToken" class="col-sm-5 col-form-label infomation-label-header">OTP Xác thực</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="verificationToken" />
            </div>
        </div>
        <div class="form-group row">
            <label for="isVerified" class="col-sm-5 col-form-label infomation-label-header">Trạng thái xác thực</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control" id="isVerified" />
            </div>
        </div>
        <div class="form-group row">
            <label for="verified" class="col-sm-5 col-form-label infomation-label-header">Ngày xác thực</label>
            <div class="col-sm-7">
                <input type="date" readonly class="form-control" id="verified" />
            </div>
        </div>
    </form>
    <form class="col-6">
        <input type="hidden" id="user_id" />
        <input type="hidden" id="user_email" value="@ViewBag.email" />
    </form>
</div>

<div id="button_bottom"></div>
@await Html.PartialAsync("ModalConfirmPartial")

<script src="~/js/GetUserById.js"></script>