
@{
    ViewData["Title"] = "GetAllPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-100 form-row pb-3 ">
    <div class="col-6 mb-2"> <input id="txt_title" class=" form-control" placeholder="Tiêu đề" /> </div>
    <div class="col-6 mb-2"> <input id="txt_author_name" class="form-control" placeholder="Tác giả" /> </div>

    <div class="col-3 mb-2"> <button id="btnSearch" class="form-control btn btn-info"> Tìm kiếm </button></div>
    <div class="col-3 mb-2"> <button id="btnClear" class="form-control btn btn-primary"> Refresh  </button></div>
    <div class="col-3 mb-2"><button id="" type="button" data-toggle="modal" data-target="#deleteConfirmModal" class="form-control btn btn-danger">Xóa </button></div>
    <div class="col-3 mb-2"><button id="detail" type="button" data-toggle="modal" data-target="" class="form-control btn btn-info">Xem chi tiết </button></div>
</div>

<div class="row container-fluid">

    <table id="postTable" class="table table-responsive table-striped border" style="font-size: 15px; width: 100% !important">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã bài viết</th>
                <th>Tác giả</th>
                <th>Tiêu đề</th>
                <th>Ngày đăng bài</th>
                <th>Số lượt downvote</th>
                <th>Số lượt upvote</th>
                <th>Số bình luận</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
    </table>
</div>
<style>
    .dataTables_wrapper {
        width: 100%
    }

    .custom-toast {
        width: 400px;
        color: black;
        font-weight: bold;
        background-color: #eb7183;
    }
</style>




<script>

    $(document).ready(
        function () {
            console.log(getConfig());
            //jQuery DataTables initialization
            var dt = $('#postTable').DataTable({
                paging: true,
                processing: true,
                dom: 'lirtp',
                serverSide: true, // for process on server side
                orderMulti: true,
                searching: true,
                bSort: false,
                bScrollCollapse: true,
                bAutoWidth: false,
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
                language: {
                    info: "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                    infoFiltered: "",
                    lengthMenu: "Hiển thị _MENU_ mục",
                    search: "Search",
                    processing: '<div class="border" style="background-color: #717571; font-size: 20px;line-height: 4; font-weight: bold">Đang tải dữ liệu...</div>',
                    paginate: {
                        previous: "Đầu",
                        next: "Tiếp theo",
                        last: "Cuối"
                    },
                },
                ajax: {
                    url: "https://localhost:44323/api/Cms/post/paged",
                    type: "POST",
                    method: "POST",

                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', getConfig())
                    },
                    data: function (d) {
                        var settings = $("#postTable").dataTable().fnSettings();
                        d.start = settings._iDisplayStart;
                        d.length = settings._iDisplayLength;

                        return JSON.stringify(d);
                    },

                    dataSrc: function (response) {
                        if (response.data.length > 0) {

                            response.recordsTotal = response.recordsTotal;
                            response.recordsFiltered = response.recordsFiltered;

                            console.log(response);
                            return response.data;
                        }
                        else {
                            return [];
                        };

                    },
                    dataFilter: function (data) {
                        return data;
                    },
                    error: function (status) {
                        console.log(status);
                    }
                },
                columns: [
                    {
                        data: "index",
                        name: "index",
                        width: "5%",
                        className:"text-center"
                    },
                    {
                        data: "oid",
                        name: "oid",
                        width : "10%"
                    },
                    {
                        data: "author_name",
                        name: "author_name",
                        width: "15%"
                    },
                    {
                        data: "title",
                        "name": "title",
                        width: "20%"
                    },
                    {
                        "data": "created_date",
                        "name": "created_date",
                        width: "20%"
                    },
                    {
                        "data": "upvote",
                        "name": "upvote",
                        width: "10%",
                        className:"text-center"
                    },
                    {
                        "data": "downvote",
                        "name": "downvote",
                        "width": "10%", className: "text-center"
                    },               //index 4
                    {
                        "data": "comments_count",
                        "name": "comments_count",
                        width: "10%", className: "text-center"
                        
                    },   //index 5
                    {
                        name: "status",
                        data: "status",
                        width: "15%", className: "text-center"
                    }
                ],
                columnDefs: [
                    {
                        "targets": [4],
                        "className": "text-center",
                        "render": function (data, type, row) {
                            var d = new Date(row.created_date);
                            return d.toLocaleDateString();
                        }
                    },
                    {
                        "targets": [8],
                        "render": function (data, type, row) {
                            if (row.status === 0)
                                return "Active";
                            else if (row.status === 1)
                                return "Offline";
                            else if (row.status === 2)
                                return "Blocked";
                            else if (row.status === 4)
                                return "Deleted";
                            else return "Không xác định"
                        }
                    }
                ]
            });
        }


    );

    $(document).ready(
        function () {
            var table = $('#postTable').DataTable();
            $('#postTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $("#btnSearch").click(
                function () {
                    oTable = $("#postTable").DataTable();
                    oTable.columns(2).search($('#txt_title').val());
                    oTable.columns(1).search($('#txt_author_name').val());
                    oTable.draw();
                }
            );

            $("#btnClear").click(
                function () {

                    table = $("#postTable").DataTable();
                    $("#txt_title").val('');
                    $("#txt_author_name").val('');
                    oTable.columns(2).search($('#txt_title').val());
                    oTable.columns(1).search($('#txt_author_name').val());
                    oTable.draw();
                }
            );

        }


    );
</script>