
<div class="row d-flex flex-row-reverse">
    <button class="btn btn-outline-danger mr-2" id="btn-pre-delete">Xóa tài khoản</button>
    <button class="btn btn-danger mr-2" id="btn-pre-block">Chặn tài khoản</button>
    <button class="btn btn-primary mr-2 " id="btn-pre-active">Mở tài khoản</button>
</div>