
@{
    ViewData["Title"] = "Danh sách trả lời";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pl-3">
    <h3>Quản lý phản hồi | </h3>
    <div class="col-3 mb-2 form-row ">
        <div class="col-3">
            <label class="col-form-label">
                Trạng thái
            </label>
        </div>
        <div class="col-9">
            <select id="slcStatus" class="form-control">
                <option value="0" id="slActive">Active</option>
                <option value="1" id="slOffline">Offline</option>
                <option value="2" id="slBlocked">Blocked</option>
                <option value="3" id="slAwait">Await</option>
                <option value="4" id="slDeleted">Deleted</option>
                <option value="5" id="slAll">Tất cả</option>
            </select>
        </div>
    </div>
</div>
<br />
<div class="w-100 form-row pb-3">
    <div class="col-2 mb-2"> <input id="txt_id" class=" form-control" placeholder="Mã câu trả lời" /> </div>
    <div class="col-2 mb-2"> <input id="txt_author_name" class="form-control" placeholder="Tác giả" /> </div>
    <div class="col-2 mb-2"> <input type="date" id="dt_createddate" class="form-control" placeholder="Ngày đăng" /> </div>
    <div class="col-2 mb-2"> <input id="txt_content" class="form-control" placeholder="Từ khóa" /> </div>
    <div class="col-2 mb-2"> <button id="btnSearch" class="form-control btn btn-info"> Tìm kiếm </button></div>
    <div class="col-2 mb-2"> <button id="btnClear" class="form-control btn btn-primary"> Refresh  </button></div>
</div>

<div class="row container-fluid">
    <table id="commentTable" class="table table-responsive table-striped border" style="font-size: 15px; width: 100% !important">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã câu trả lời</th>
                <th>Tác giả</th>
                <th>Ngày đăng</th>
                <th>Downvote</th>
                <th>Upvote</th>
                <th>Trạng thái</th>
                <th>Hoạt động</th>
                <th class="d-none">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th id="foot_id">Mã câu trả lời</th>
                <th id="foot_author">Tác giả</th>
                <th> </th>
                <th></th>
                <th></th>
                <th> </th>
                <th> </th>
                <th class="d-none"> </th>
            </tr>
        </tfoot>
    </table>
</div>

@await Html.PartialAsync("ConfirmModal")
<div id="toastDiv"></div>
<script src="~/js/GetAllReplyComment.js"></script>