
@{
    ViewData["Title"] = "Danh sách báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pl-3">
    <h3>Quản lý báo cáo</h3>
</div>
<div class="w-100 form-row pb-3">
    <div class="col-2 mb-2"> <input id="txt_id" class=" form-control" placeholder="Mã báo cáo" /> </div>
    <div class="col-2 mb-2"> <input id="txt_author_name" class="form-control" placeholder="Tác giả" /> </div>
    <div class="col-2 mb-2"> <input type="date" id="dt_createddate" class="form-control" placeholder="Ngày đăng" /> </div>
    <div class="col-2 mb-2">
        <select id="slcStatus" class="form-control">
            <option value="true">Đã duyệt</option>
            <option value="false">Chưa duyệt</option>
            <option value="all">Tất cả</option>
        </select>
    </div>

    <div class="col-2 mb-2"> <button id="btnSearch" class="form-control btn btn-info"> Tìm kiếm </button></div>
    <div class="col-2 mb-2"> <button id="btnClear" class="form-control btn btn-primary"> Refresh  </button></div>

</div>

<div class="row container-fluid">
    <table id="reportTable"
           class="table table-responsive table-striped border"
           style="font-size: 15px; width: 100% !important">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã</th>
                <th>Người báo cáo</th>
                <th>Đối tượng</th>
                <th>Lý do hàng đầu</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Người duyệt</th>
                <th>Ngày duyệt</th>
                <th>Hoạt động</th>
            </tr>
        </thead>
    </table>
</div>

@await Html.PartialAsync("ReportPartial/DetailModal")

@await Html.PartialAsync("ReportPartial/ApproveConfirmModal")


<div aria-live="polite" aria-atomic="true">
    <!-- Position it -->
    <div style="position: absolute; top: 0rem; right: 1rem;">
        <div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
            <div class="toast-body">
                <p>Đã duyệt báo cáo </p>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/GetAllReport.js"></script>