
@{
    ViewData["Title"] = "Danh mục lĩnh vực";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pl-3">
    <h3>Danh mục lĩnh vực </h3>
    <button class="btn btn-primary ml-3" style="cursor: pointer; background-color: #2A8383; border:none" id="btnAdd">
        <i class="fas fa-plus"></i> Thêm lĩnh vực
    </button>
</div>
<div class="row container-fluid">
    <table id="fieldTable"
           class="table table-responsive table-striped border"
           style="font-size: 15px; width: 100% !important">
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã tham chiếu</th> 
            <th>Giá trị</th>
            <th>Trạng thái</th>
            <th>Hoạt động</th>
        </tr>
        </thead>
    </table>
</div>

@await Html.PartialAsync("FieldPartial/DetailModal")
@await Html.PartialAsync("Partial/SaveConfirmModalPartial")
@await Html.PartialAsync("Partial/EditConfirmModalPartial")
@await Html.PartialAsync("Partial/EditToastPartial")

<script src="~/js/GetAllField.js"></script>